@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HankenGrotesk";
  src: url("../public/assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
}

:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --gradient-blue-slate-to-royal: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  --gradient-violet-to-persian: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

  /* Font styles */
  --font-size-sm: 18px;
  --font-family-hanken: "HankenGrotesk";
  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

html, body, #root { height: 100%; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, var(--font-family-hanken), 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: var(--font-weight-normal);
}

h3 {
  font-weight: 600;
  font-size: 1.25em;
  font-family: var(--font-family-hanken);
}

p {
  font-size: var( --font-size-sm);
  font-family: var(--font-family-hanken);
}

button {
  background-color: var(--dark-gray-blue);
  font-family: var(--font-family-hanken);
  color: var(--white);
  font-size: 1.15em;
  font-weight: 600;
  letter-spacing: -1px;
  width: 100%;
}

